header{
    height: 100px;
    width: 100px;
    background: aqua;
}
main{
    height: 100px;
    width: 100px;
    background: brown;
}
footer{
    height: 100px;
    width: 100px;
    background:violet;
}